$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "components-font-awesome/scss/font-awesome.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

$font-stack:    Helvetica, sans-serif;
$primary-color: #500;

.form-user {
  background-color: blue;
}

.form-message {
  background-color: cyan;
}

.selected{
  background-color: deeppink;
}

li {
  background-color: green;
}

body {
  padding: 0;

  font: 200% $font-stack;
  color: $primary-color;
  .title {
    font: 300% $font-stack;
    color: red;
    span {
    text-decoration: blink;
    }
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box { @include border-radius(10px); padding: 10px; position: relative; background-color: cyan;}

.content { @include border-radius(10px);
           position: relative;
           background-color: yellow;
           }
.fa { text-align:center}

@media (max-width: 1920px) { .background {
                                       min-height: 200px;
                                       width: 100%;
                                       background: url('../images/background1920.jpg') no-repeat center center;
                                       background-size: cover;
                                   } }

@media (max-width: 1024px) { .background {
                                       min-height: 200px;
                                       width: 100%;
                                       background: url('../images/background1024.jpg') no-repeat center center;
                                       background-size: cover;
                                   } }

@media (max-width:  720px) { .background {
                                          min-height: 200px;
                                          width: 100%;
                                          background: url('../images/background720.jpg') no-repeat center center;
                                          background-size: cover;
                                      } }

@media (max-width: 480px) { .background {
                                       min-height: 200px;
                                       width: 100%;
                                       background: url('../images/background480.jpg') no-repeat center center;
                                       background-size: cover;
                                   } }
